<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}Qforbarber{% endblock %}</title>
    <meta name="description" content="Easily book your haircut online with zero waiting.search your nearby barber shop, view available slots, and manage your appointments seamlessly.">
    <meta name="keywords" content="barber, haircut, queue system, barbershop app,Gemini, Qforbarber, online booking, barber appointment, customer service system, barber management, customer management, online queue, barber shop, haircut booking, barber appointment system, customer queue management, barber scheduling, barber shop management, customer service app, barber appointment booking, online barber service, barber shop queue, haircut appointment, barber shop online booking, customer service platform, barber shop scheduling, haircut management, barber shop customer service">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="zntO6DP7TLyHBlsHD0PfLYYzSa0F_NWwDbxFSkNlra0" />
    <link rel="canonical" href="https://qforbarber.onrender.com">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}">
</head>
<body>
<div class="page-wrapper">

    <header class="main-header">
        <nav class="nav-container">

            <!-- Left: Logout -->
            <div class="nav-left">
              <!-- here nav left free add-->
            </div>

            <!-- Center: Dashboard -->
            <div class="nav-center">
                {% if request.user.is_authenticated %}
                    {% if request.user.role == 'barber' %}
                        <a href="{% url 'barber_dashboard' %}" class="nav-link">Dashboard</a>
                    {% else %}
                        <a href="{% url 'customer_dashboard' %}" class="nav-link">Dashboard</a>
                    {% endif %}
               
                {% endif %}
            </div>

            <!-- Right: Logo -->
          <div class="nav-right">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'core/images/logo.png' %}" alt="Logo" height="45">
                
                <p class="nav-text">
                    <strong>forbarber</strong>
                </p>
                </a>
            </div>

        </nav>
    </header>

    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <p>&copy; 2025 <strong>Q</strong>forbarber</p>
    </footer>

</div>
</body>
</html>
